[*.cs]

# IDE0210: Convert to top-level statements
dotnet_diagnostic.IDE0210.severity = none

# IDE0090: Use 'new(...)'
dotnet_diagnostic.IDE0090.severity = silent

# IDE0034: Simplify 'default' expression
dotnet_diagnostic.IDE0034.severity = none
